#container {
	height: 800px;
	min-width: 310px;
	max-width: 800px;
	margin: 0 auto;
}

.loading {
	margin-top: 10em;
	text-align: center;
	color: gray;
}

.highcharts-background {
	fill: transparent;
}
.highcharts-legend-item{
	display: none;
}

.highcharts-button{
	display: none;
}
.highcharts-credits{
	display: none;
}